<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <clear />

          <rule name="Redirect to HTTPS" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:0}"
                    redirectType="Permanent" appendQueryString="false" />
          </rule>

          <rule name="SPA Fallback" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile"      negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory"  negate="true" />
              <add input="{REQUEST_METHOD}"   pattern="^(GET|HEAD)$"  negate="false" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>

        </rules>
      </rewrite>
    </system.webServer>
  </location>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>